* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 40px;
    background-color: #f8f8f8;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

.data-hora {
    font-size: 2.5rem;
    text-align: center;
}

.data-hora p {
    margin-bottom: 20px;
}

#bater-ponto {
    font-size: 2rem;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    font-weight: 600;
    transition: transform 0.3s, background-color 0.2s;
}

#bater-ponto:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: darkred;
}

#rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(243, 124, 124);
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

/* Dialog */
#confirmar-dialog {
    padding: 70px 10px;
    text-align: center;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Define uma largura fixa */
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

#confirmar-dialog p {
    margin: 10px 0;
    font-size: 1.5rem;
}

#fechar-dialog {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#fechar-dialog:hover {
    background-color: #d00000;
    color: white;
}

#opcoes-ponto {
    padding: 10px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

#btnConfirmar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

#btnConfirmar:hover {
    background-color: #86f078;
    color: white;
}
